body {
    color: #FFFFFF;
    background-color: #E5D2C8;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat-Thin', sans-serif;
    font-size: 2.75rem;
}

h2 {
    font-family: 'caprizant', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
}

.nav-link, .carousel-btn-previous, .carousel-btn-next, .cta {
    font-size: 0.75rem;
}

/* Background */

.background-image {
    width: 491px;
    position: absolute;
    right: 0;
}

.bottom-left-colored-box {
    background-color: #CFA186;
    height: 13.438rem;
    width: 25.312rem;
    position: absolute;
    /* left: 0;
    bottom: 0; */
    top: 522px;
}

.footer {
    color: #FFFFFF;
    font-family: 'caprizant', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.825rem;
    position: absolute;
    bottom: 0.308rem;
    left: 55px;
}

.main-container {
    background-color: #AA7456;
    width: 55rem;
    height: 35rem;
    position: relative;
    top: 5.625rem;
    bottom: 5.625rem;
    left: 9.063rem;
}


/* Nav Bar */
.navbar {
    align-items: center;
    position: absolute;
    left: 4.5rem;
    right: 4.5rem;
    top: 4.5rem;
    padding-top: 15px;
}

.brand-name {
    color: #FFFFFF;
    font-family: 'Rozha One', serif;
    font-size: 3rem;
    padding: 0 72px 0;
    letter-spacing: 2px;
}

.navbar-brand:hover {
    color: #FFFFFF;
}

.nav-item {
    padding: 0 8px;
}

.nav-link {
    color: #FFFFFF;
    font-family: 'Montserrat-Light', sans-serif;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #000000;
    font-weight: 600;
}

.form-inline {
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.search-bar {
    border: none;
    background: none;
    color: #FFFFFF;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

input[type="search"]::-webkit-search-cancel-button {
  visibility: hidden;
}

.search-bar:focus {
    background: none;
    box-shadow: none;
    outline: none;
}

.search-btn {
    border: none;
    color: #FFFFFF;
    margin-right: 0;
}

.fa-search:hover {
    background: none;
    color: #000000;
}

/* Image Carousel */

#image-carousel {
    position: absolute;
    top: 1rem;
}

.carousel-btn {
    position: relative;

}

.image-1, .image-2, .image-3, .image-4, .image-5 {
    width: 13rem;
    position: fixed;
    top: 13.5rem;
    left: 7.5rem;
    z-index: 2;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}

.carousel-fade {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.carousel-btn-previous {
    background: none;
    border: none;
    color: #FFFFFF;
    font-family: 'Montserrat-Regular', sans-serif;
    letter-spacing: 1px;
    height: 2rem;
    padding: 0;
    position: absolute;
    top: 11.5rem;
    left: 13.125rem;
}

.carousel-btn-next {
    background: none;
    border: none;
    color: #FFFFFF;
    font-family: 'Montserrat-Regular', sans-serif;
    letter-spacing: 1px;
    height: 2rem;
    padding: 0;
    position: absolute;
    top: 33.125rem;
    left: 17.5rem;
}


.fa-chevron-left::before {
    padding-right: 15px;
}

.fa-chevron-right::before {
    padding-left: 15px;
}

/* Call to Action */

.cta {
    color: #FFFFFF;
    text-align: center;
    line-height: 2;
    position: relative;
    top: 10rem;
    align-content: center;
}

.title-question {
    position: relative;
}

.cta-description {
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 42%;
    padding-top: 25px;
    padding-bottom: 5px;
}

.shop-now-btn {
    background-color: #D9AFA2;
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat-Medium', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    margin: 1rem 1rem 0;
    padding: 8px 30px;
}

.shop-now-btn:hover {
    background-color: #AA7456;
    border: 1px #ffffff;
    border-style: solid;
}
/* Images */

.pink-soap {
    background-color: #E5D2C8;
    opacity: 0.85;
    width: 10.75rem;
    position: absolute;
    right: 1rem;
    top: 7.5rem;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}

.brown-soap {
    height: 10.5rem;
    position: absolute;
    bottom: 1rem;
    left: 42rem;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}
