body {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat-Thin', sans-serif;
}

h2 {
    font-family: 'caprizant', sans-serif;
    font-size: 2.75rem;
    font-weight: 400;
    font-style: normal;
}

/* Background */

.background-color-left-box {
    background-color: #E5D2C8;
    width: 100%;
    height: 100vh;
}

.background-image {
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.bottom-left-colored-box {
    background-color: #CFA186;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 69vh;
    right: 1000px;
}

.footer {
    color: #FFFFFF;
    font-family: 'caprizant', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    position: absolute;
    bottom: 15px;
    left: 55px;
}

.features-colored-background {
    background-color: #AA7456;
    position: absolute;
    top: 12%;
    bottom: 12%;
    left: 10%;
    right: 30%;
}

/* Nav Bar */
.navbar {
    justify-content: center;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
}

.navbar-brand {
    color: #FFFFFF;
    font-family: 'Rozha One', serif;
    font-size: 3.75rem;
    padding: 0;
    letter-spacing: 2px;
}

.navbar-brand:hover {
    color: #FFFFFF;
}

.nav-item {
    padding: 0 8px;
}

.nav-link {
    color: #FFFFFF;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #CFA186;
}

.form-inline {
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.search-bar {
    border: none;
    background: none;
    color: #FFFFFF;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1px;
}

input[type="search"]::-webkit-search-cancel-button {
  visibility: hidden;
}

.search-bar:focus {
    background: none;
    box-shadow: none;
    outline: none;
}

.search-btn {
    border: none;
    color: #FFFFFF;
    margin-right: 0;
}

.fa-search:hover {
    background: none;
    color: #CFA186;
}

/* Image Carousel */

.image-1, .image-2, .image-3, .image-4, .image-5 {
    width: 17vw;
    position: fixed;
    top: 250px;
    left: 115px;
    z-index: 2;
}

.carousel-fade {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.carousel-btn-previous {
    background: none;
    border: none;
    color: #FFFFFF;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1px;
    height: 2rem;
    padding: 0;
    position: absolute;
    top: 215px;
    left: 110px;
}

.carousel-btn-next {
    background: none;
    border: none;
    color: #FFFFFF;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1px;
    height: 2rem;
    padding: 0;
    position: absolute;
    top: 620px;
    left: 200px;
}


.fa-chevron-left::before {
    padding-right: 15px;
}

.fa-chevron-right::before {
    padding-left: 15px;
}

/* Call to Action */

.cta {
    color: #FFFFFF;
    font-size: 0.875rem;
    text-align: center;
    line-height: 2;
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: 8%;
}

.title-question {
    padding-bottom: 3rem;
}

.cta-description {
    font-family: 'Montserrat-Thin', sans-serif;
    padding: 0 16px;
}

.shop-now-btn {
    background-color: #D9AFA2;
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat-Medium', sans-serif;
    letter-spacing: 1px;
    margin: 1rem 1rem 0;
    padding: 8px 40px;
}

/* Images */

.pink-soap {
    width: 200px;
    position: absolute;
    right: 15px;
    top: 130px;
}

.overlay {
    background-color: #E5D2C8;
    opacity: 0.85;
    width: 200px;
    position: absolute;
    right: 15px;
    top: 130px;
}

.brown-soap {
    height: 185px;
    position: absolute;
    bottom: 15px;
    left: 635px;
}
